<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>@ViewData["Title"]</title>

      <!-- Bootstrap -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css" />

      <link rel="stylesheet" href="~/css/StyleSheet.css" />
      <link rel="stylesheet" href="~/css/ImageCarousel.css" />
   </head>
   <body>
      <header>
         <div class="logo">
            <a class="hlink" asp-controller="Home" asp-action="Index">
               <img alt="Neil & Madison" src="~/img/logo/Logo.png" height="100px" />
            </a>
         </div>
         <a class="hlink" asp-controller="Home" asp-action="GiftRegistry">Gift Registry</a>
         <a class="hlink rsvp" asp-controller="Home" asp-action="RsvpForm">RSVP</a>
      </header>
      <main>
         @RenderBody()
      </main>
      <footer>
         <div class="footer">
            <h2 style="color: linen;">Contact Information</h2>
            <ul>
               <li>Email: thekingdoms@gmail.com</li>
               <li>Phone: +1(613) 206-3707</li>
               <li>Social Media:</li>
               <table>
                  <tr>
                     <td>
                        <a>
                           <img src="~/img/icons/facebook.png" height="50px" width="50px" alt="facebook" />
                        </a>
                     </td>
                     <td>
                        <a>
                           <img src="~/img/icons/instagram.png" width="50px" alt="instagram" />
                        </a>
                     </td>
                  </tr>
               </table>
            </ul>
         </div>
         <div class="footer-bar">
            <h5>&commat;Neil Kingdom - 2022</h5>
         </div>
      </footer>
   </body>
   @await RenderSectionAsync("Scripts", required: false)
</html>
