<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>@ViewBag.Title</title>
      <link rel="stylesheet" href="~/css/StyleSheet.css" />
      <link rel="stylesheet" href="~/css/ImageCarousel.css" />
   </head>
   <header>
      <!-- Html.ActionLink() -->
   </header>
   <body>
      <div class="container">
         @RenderBody()
      </div>
   </body>
   <footer>
      <div>
         <h2>Contact Information</h2>
         <br />
         <ul>
            <li>Email: Placeholder@gmail.com</li>
            <li>Phone: +1(613) 000-0000</li>
            <li>Social Media:</li>
            <!-- Add social media tags -->
            <table>
               <tr>
                  <td>
                     <img />
                  </td>
                  <td>
                     <img />
                  </td>
                  <td>
                     <img />
                  </td>
               </tr>
            </table>
         </ul>
      </div>
      <div>
         <h5>Neil Kingdom - 2022</h5>
      </div>
   </footer>
</html>
