@using Microsoft.AspNetCore.Identity
@using Wedding_RSVP.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
   <a class="hlink" asp-controller="Gift" asp-action="GiftRegistry">Gift Registry</a>
} 
else
{
   <a class="hlink" asp-controller="Gift" asp-action="OnGet">Gift Registry</a>
}
