@model Wedding_RSVP.Models.ViewModels.UsersViewModel
@{
   ViewData["title"] = "Registered List";
}

<div class="registered-users">
   <h1>Registered Users</h1>
   <ul style="list-style-type: circle;">
      @foreach (var user in Model.Users)
      {
         <li>@user.FirstName, @user.LastName</li>
      }
   </ul>
</div>
