@model Wedding_RSVP.Models.ViewModels.UsersViewModel
@{
   ViewData["title"] = "Registered List";
}

<div class="registered-users">
   <div class="users-list">
      <ul style="list-style-type: none;">
         @foreach (var user in Model.Users)
         {
            <li>@user.FirstName, @user.LastName</li>
         }
      </ul>
   </div>
</div>
