@{
   ViewData["Title"] = "Success";
}

<div class="rsvp-success">
   <h3>Thank you! Your submission has been processed.</h3>
   <div>
      <a href="javascript:history.back()">Back</a>
   </div>
</div>
