@{
   ViewBag.Title = "Index";
}

<article>
   <div class="content">
      <div class="slideshow">

         <!-- Carousel focus buttons -->
         <button class="slide-btn slide-btn-1"></button>
         <button class="slide-btn slide-btn-2"></button>
         <button class="slide-btn slide-btn-3"></button>
         <button class="slide-btn slide-btn-4"></button>

         <!-- Carousel wrapper contains all images -->
         <div class="slideshow-wrapper">
            <div class="slide">
               <img class="slide-img" src="/img/proposal/wedding1.jpg" />
            </div>
            <div class="slide">
               <img class="slide-img" src="/img/proposal/wedding2.jpg" />
            </div>
            <div class="slide">
               <img class="slide-img" src="/img/proposal/wedding3.jpg" />
            </div>
         </div>
      </div>
   </div>
</article>
