@{
   ViewData["Title"] = "Index";
}

<div id="my-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
   <!-- Carousel wrapper contains all images -->
   <div class="carousel-inner">
      <div class="carousel-center carousel-item active">
         <img src="~/img/proposal/wedding8.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding1.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding2.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding3.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding4.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding5.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding6.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding7.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding9.jpg" class="carousel-img" />
      </div>
   </div>

   <!-- Prev/Next buttons -->
   <button id="slide-btn-1" class="carousel-control-prev" data-bs-target="#my-carousel" data-bs-slide="prev">
      <i class="chevron fa-solid fa-chevron-left"></i>
   </button>
   <button id="slide-btn-2" class="carousel-control-next" data-bs-target="#my-carousel" data-bs-slide="next">
      <i class="chevron fa-solid fa-chevron-right"></i>
   </button>
</div>

<article>
   <!-- All content will belong in the left-side column -->
   <div class="col-left">
      <div class="section">
         <div class="section-header">
            <strong>Our Story</strong>
         </div>
         <br />
         <p>
            &emsp;&emsp;
            Madison and Neil met at Reedemer Christian High.
            After a year of getting to know each other, they began dating, and slowly fell in love.
            After high school, they both took a gap year to save up for College.
            Now that College is nearly over, Neil and Madison have decided to finally tie the knot after nearly 5 wonderful years.
         </p>
      </div>
      <div class="section">
         <div class="section-header">
            <strong>Location</strong>
         </div>
         <br />
         <p>
            &emsp;&emsp;
            The venue will be held at Equinelle Golf Club in Kemptville, Ontario.
            Please see the map below for directions.
            <div class="map-responsive">
               <iframe
                  src="https://maps.google.com/maps?q=140%20Equinelle%20Drive%20K0G%201J0%20Kemptville&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  width="600" height="450" frameborder="0" style="border: 0;" allowfullscreen>
               </iframe>
            </div>
         </p>
      </div>
   </div>
   <!-- All content will belong in the right-side column -->
   <div class="col-right">
      <div class="section">
         <div id="qanda" class="section-header">
            <strong>Q&amp;A</strong>
         </div>
         <br />
         <p>
            <strong>Q: Are children able to attend</strong><br />
            A: Unfortunately, children are not invited to the ceremony or reception unless an exception was explicitely granted.<br />
            <strong>Q: Will people with special dietary needs be accomodated?</strong><br />
            A: Yes, but please notify us in advance if you have any dietary restrictions that ought to be considered.
         </p>
      </div>
   </div>
</article>

@section Scripts {
   <!-- Popper bundle for Boostrap (required for carousel), recieved from jsDelivr CDN -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   <script>
      $("#my-carousel").hover(function() {
         $("#slide-btn-1").addClass("slide-btn");
         $("#slide-btn-2").addClass("slide-btn");
         $("#slide-btn-1").addClass("slide-btn-1");
         $("#slide-btn-2").addClass("slide-btn-2");
      }, function() {
         $("#slide-btn-1").removeClass("slide-btn");
         $("#slide-btn-2").removeClass("slide-btn");
         $("#slide-btn-1").removeClass("slide-btn-1");
         $("#slide-btn-2").removeClass("slide-btn-2");
      });
   </script>
}
