@{
   ViewData["Title"] = "Home";
}

<div id="my-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
   <!-- Carousel wrapper contains all images -->
   <div class="carousel-inner">
      <div class="carousel-center carousel-item active">
         <img src="~/img/proposal/wedding8.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding1.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding2.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding3.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding4.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding5.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding6.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding7.jpg" class="carousel-img" />
      </div>
      <div class="carousel-center carousel-item">
         <img src="~/img/proposal/wedding9.jpg" class="carousel-img" />
      </div>
   </div>

   <!-- Prev/Next buttons -->
   <button class="slide-btn slide-btn-prev" data-bs-target="#my-carousel" data-bs-slide="prev">
      <i class="chevron fa-solid fa-chevron-left"></i>
   </button>
   <button class="slide-btn slide-btn-next" data-bs-target="#my-carousel" data-bs-slide="next">
      <i class="chevron fa-solid fa-chevron-right"></i>
   </button>
</div>

<article>
   <p class="section-content">
      Welcome to our wedding website - made and designed from scratch by the bride and<br />
      groom! Find all the details and important information for our big day below and through<br />
      our “<a href="/Details/Index">Details</a>” page. If you have any questions, please don’t 
      hesitate to ask us. We cannot<br />
      wait to have you as part of our special day!
   </p>

   <div style="width: 100%;"> 
      <h1 class="section-header">Wedding Party</h1>
   </div>

   <div class="profile">
      <div id="breena"></div>
      <p>Breena Clement - Maid of Honour</p>
   </div>

   <div class="profile">
      <div id="daniel"></div>
      <p>Daniel Kingdom - Best Man</p>
   </div>

   <div class="profile">
      <div id="marysia"></div>
      <p>Marysia Kruczek - Bridesmaid</p>
   </div>

   <div class="profile">
      <div id="devan"></div>
      <p>Devan Schmidt - Groomsman</p>
   </div>

   <div class="profile">
      <div id="elizabeth"></div>
      <p>Elizabeth Gay - Bridesmaid</p>
   </div>

   <div class="profile">
      <div id="ramses"></div>
      <p>Ramses Aziz - Groomsman</p>
   </div>

   <div class="profile">
      <div id="mary-ellen"></div>
      <p>Mary Ellen Cameron - Bridesmaid</p>
   </div>

   <div class="profile">
      <div id="mohit"></div>
      <p>Mohit Nargotra - Groomsman</p>
   </div>

   <div class="profile">
      <div id="kim-and-andre"></div>
      <p>Andre and Kim Mainville - Parents of the Bride</p>
   </div>

   <div class="profile">
      <div id="tom-and-britte"></div>
      <p>Tom and Britte Kingdom - Parents of the Groom</p>
   </div>

   <div style="width: 100%;"> 
      <h1 class="section-header">Ceremony</h1>
   </div>
   
   <p class="section-content">
      Our ceremony will take place at Southgate Community Church. The address is 1303<br />
      French Settlement Rd. in Kemptville, Ontario. The church is located a few minutes off<br />
      Highway 416, exit 34.<br /><br />

      <img src="~/img/other/southgate.jpg" alt="Southgate Church (Kemptville)" />
   </p>

   <div style="width: 100%;">
      <h1 class="section-header">Venue</h1>
   </div>

   <p class="section-content">
      Our reception will be hosted at eQuinelle Golf Club. The address is 74 Equinelle Dr. in<br />
      Kemptville, Ontario. The venue is only a 9-minute drive away from the church. Our<br />
      reception will be held on the Clubhouse side of the building.<br /><br />

      <img src="~/img/other/equinelle.jpg" alt="eQuinelle Golf Glub (Kemptville)" />
   </p>

   <div style="width: 100%;">
      <h1 class="section-header">Timeline</h1>
   </div>

   <p class="section-content">
      2 pm - Ceremony begins at Southgate. Please aim to arrive 10-15 minutes early<br /><br />
      2:30 pm to 2:45 pm - Receiving line immediately after the ceremony. Please take a<br /><br />
      minute to congratulate the newlywed couple!<br /><br />
      3:30 pm to 5:15 pm - Cocktail hour at eQuinelle. Be sure to mingle and watch for family<br /><br />
      and friend photographs around this time.<br /><br />
      5:30 pm - Bridal party entrances and dinner is served<br /><br />
      6 pm to 6:30 pm - Speeches from family and friends<br /><br />
      Dancing!<br /><br />
      Cake cutting/dessert is served<br /><br />
      Grand exit
   </p>

   <div style="width: 100%;">
      <h1 class="section-header">
         ONLY <span id="days-remaining"></span> DAYS<br />
         until we say "I do"!
      </h1>
   </div>
</article>

@section Scripts {
   <!-- Popper bundle for Boostrap (required for carousel), recieved from jsDelivr CDN -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   <script>
      var timeoutHandle; 
      var daysRemaining = 0;

      $(document).ready(function() {
         // Clicks the first page link in the header to make it appear selected
         $(".hlink").first().click(); 
      });

      window.onload = setNumDaysRemaining();

      /* 
         Adds the slide button transition animation on hover, then
         reverses it after 5 seconds of the mouse exiting the carousel
      */
      $("#my-carousel").hover(function() {
         window.clearTimeout(timeoutHandle);
         $(".slide-btn").addClass("slide-btn-transition");
      }, function() { // Exit hover
         timeoutHandle = window.setTimeout(function() {
            $(".slide-btn").removeClass("slide-btn-transition");
         }, (5 * 1000))
      });

      // Gets the # of days until the wedding
      function setNumDaysRemaining() {
         var wdToMsSinceEpoch = new Date(2023, (8 - 1), 26, (12 + 2 - 1)).getTime();
         daysRemaining = Math.round((wdToMsSinceEpoch - Date.now()) / (1000 * 60 * 60 * 24));
         if (daysRemaining < 0) daysRemaining = 0;
         $("#days-remaining").append(Math.trunc(daysRemaining).toString());
      }
   </script>
}
