@model Wedding_RSVP.Models.User
@{
   ViewData["Title"] = "RSVP";
}

<h1>RSVP</h1>
<form class="form" asp-action="RsvpForm" method="post">
   <table>
      <tr>
         <td><h2 class="control-label">@Html.DisplayNameFor(model => model.FirstName)</h2></td>
         <td><input asp-for="FirstName" class="form-control" /></td>
      </tr>
      <tr>
         <td />
         <td><span asp-validation-for="FirstName" class="text-danger"></span></td>
      </tr>
      <tr>
         <td><h2 class="control-label">@Html.DisplayNameFor(model => model.LastName)</h2></td>
         <td><input asp-for="LastName" class="form-control" /></td>
      </tr>
      <tr>
         <td />
         <td><span asp-validation-for="LastName" class="text-danger"></span></td>
      </tr>
      <tr>
         <td><h2 class="control-label">@Html.DisplayNameFor(model => model.Email)</h2></td>
         <td><input asp-for="Email" class="form-control" /></td>
      </tr>
      <tr>
         <td />
         <td><span asp-validation-for="Email" class="text-danger"></span></td>
      </tr>
      <tr>
         <td><h2 class="control-label">Number of Attendees</h2></td>
         <td><input asp-for="NumAttendees" id="attendees" type="number" min=0 max=20 class="form-control" /></td>
         <td>
            <button class="inc-dec" onclick="increment()"><i class="fa-solid fa-plus"></i></button>
            <button class="inc-dec" onclick="decrement()"><i class="fa-solid fa-minus"></i></button>
         </td>
      </tr>
      <tr>
         <td />
         <td><span asp-validation-for="Attendees" class="text-danger"></span></td>
      </tr>
      <tr>
         <td><a asp-action="Index">Back</a></td>
         <td><input type="submit" value="Continue" /></td>
      </tr>
   </table>
</form>

@section Scripts {
   @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
