@{
   ViewData["Title"] = "Details";
}

<article>
   <div class="details">
      <div id="invitees" style="width: 100%;"> 
         <h1 class="section-header">Who is Invited?</h1>
      </div>

      <p class="section-content">
         The invitation you/your family has received in the mail will state who is invited and how
         many people are reserved under your name, including any plus ones. Only one person
         mentioned on your invitation will be able to RSVP. Please review the “How to RSVP”
         section for more details.<br /><br />
         In regards to children, unless stated in your invitation, we respectfully request no children
         under the age of 16 at the reception.
      </p>

      <div id="how-to-rsvp" style="width: 100%;"> 
         <h1 class="section-header">How to RSVP</h1>
      </div>

      <p class="section-content">
         Click the RSVP tab at the top of this page. Please write the full names of everyone you
         are bringing to the wedding in accordance with the number of reserved spots stated in
         your invitation. Please provide an email for contact purposes and any song requests you
         may like to hear during the reception. Finally, provide us with any additional information
         we should know (dietary restrictions, etc). If you run into any technical issues or have any
         concerns, feel free to get in contact with us using the contact information at the bottom
         of the page. All RSVPs must be sent through our website in order to secure your spot.
      </p>

      <div id="gift-registry" style="width: 100%;"> 
         <h1 class="section-header">Gift Registry</h1>
      </div>

      <p class="section-content">
         Our gift registry list is accessible through our website on the “Gift Registry” tab. Once
         there, you’ll be able to click the link and access our registry via MyRegistry. You have the
         option to mail the gift or bring it to the reception on our wedding day. If you wish to
         purchase gifts from local stores in your area, you are more than welcome to find
         alternatives for the items on our list, just be sure to return back to the website and check
         off the items you have purchased. Please be sure to only check off an item as purchased
         after you’ve purchased it. Since some items may fluctuate on their original websites, the
         prices of items on our registry are subject to change.
      </p>

      <div id="photography" style="width: 100%;"> 
         <h1 class="section-header">Photography</h1>
      </div>

      <p class="section-content">
         As we have hired a professional photographer for our wedding day, we kindly ask that
         our ceremony remain unplugged. Please turn off all devices and enjoy being fully
         present in the moment. However, after the ceremony and during the reception, guests
         are more than welcome to take their own pictures. All we ask is to please forward any
         pictures to the bride and groom afterwards.
      </p>

      <div id="seating" style="width: 100%;"> 
         <h1 class="section-header">Seating</h1>
      </div>

      <p class="section-content">
         You are welcome to sit where you like for the ceremony. The only exception is that we
         ask that the first row be reserved for members of the wedding party (parents,
         grandparents, etc). For the reception, we are carefully arranging the tables so that our
         guests are sitting with people they feel comfortable with. Please refer to the seating
         chart upon entering the reception before seating.
      </p>

      <div id="dinner-menu" style="width: 100%;"> 
         <h1 class="section-header">Dinner Menu:</h1>
      </div>

      <p class="section-content">
         During cocktail hour, the following appetizers will be served:

         <ul>
            <li>Bocconcini skewers</li>
            <li>
               Artisan cheese and charcuterie board featuring locally sourced cheeses and meats.
               Toasted crostini, seasonal jelly, and fresh fruit
            </li>
            <li>
               Crudité with roasted red pepper hummus dip; served with heirloom tomato salsa
               and baked naan chips
            </li>
            <li>Asian veggie dumplings; served with sweet chili sauce</li>
         </ul>

         During dinner, the following will be served:

         <ul>
            <li>
               Iceberg Wedge Salad with tomatoes, cucumbers, peppers & buttermilk ranch
               dressing
            </li>
            <li>
               Slow-roasted, crispy, herb-rubbed, and grain-fed chicken with roasted mini red
               potatoes and seasonal vegetables *
            </li>
         </ul>

         For dessert, the following will be served:

         <ul>
            <li>
               Tiramisu mini - Lady finger sponge cake liquor; syrup-enrobed brandied
               mascarpone topped with chocolate shavings and cocoa dust *
            </li>
         </ul>

         For our late-night snack, the following will be served:

         <ul>
            <li>
               Pizza party - an assortment of Italian flatbreads - meat lovers, vegetarian,
               Canadian *
            </li>
         </ul>

         *Coffee and tea are complimentary with dinner.
         *The wedding cake will be reserved for the married couple only.
         *Dietary restrictions will be accommodated! Please let us know on the RSVP page
         under "Additional Comments" of any changes we need to make in regard to the dinner.
      </p>

      <div id="dress-code" style="width: 100%;"> 
         <h1 class="section-header">Dress Code</h1>
      </div>

      <p class="section-content">The dress code is semi-formal.</p>

      <div id="transportation" style="width: 100%;"> 
         <h1 class="section-header">Transportation</h1>
      </div>

      <p class="section-content">TBD</p>

      <div id="accommodations" style="width: 100%;"> 
         <h1 class="section-header">Accommodations/Hotels</h1>
      </div>

      <p class="section-content">TBD</p>
   </div>
</article>
