/* Places the carousel content on center of the carousel */
.carousel-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

/* ----- Slideshow stylings ----- */
.slideshow {
   height: 100%;
   /* Hide slides in x-direction */
   overflow: hidden;
   position: relative;
}

/* Wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
   display: flex;
   /* We give it width as 300% because we are making a
    * 3 image carousel. If you want to make for example,
    * 4 images carousel, then give width as 400%. */
   width: 300%;
   height: 100%;
   position: relative;
   margin-top: 0;
   animation: slideshow 15s infinite;
}

/* Define width and height for images */
.slide {
   width: 100%;
   height: 100%;
}

.slide-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* @keyframes are used to provide animations
* We make these settings for 4 image carousel.
* Make modification according to your needs. */
@keyframes slideshow {
   0%  { left: 0; }
   25% { left: 0; }
   35% { left: -100%; }
   65% { left: -100%; }
   75% { left: -200%; }
   100% { left: -200%; }
}

/* ----- Carousel control button stylings ----- */
.slide-btn {
   background-color: gainsboro;
   /* Creates a circle */
   border-radius: 50%;
   opacity: 0.5;
   width: 10rem;
   height: 10rem;
   z-index: 50;
   /* All required to have buttons go on top of images */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* Changes cursor to indicate that the element is clickable */
   cursor: pointer;
}

/* As we provide position as absolute,
* the buttons places one over the other.
* So, we have to place them individually
* at their correct positions. */
.slide-btn-1 {
   left: 10%;
}

.slide-btn-2 {
   left: 90%;
}

.slide-btn:hover {
   opacity: 0.75;
}
