/* TODO: Split this css file into one CSS file per page */

/* DOM root */
html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   width: 100%;
   height: 100%;
}

/* Universal background color (pure white is icky) */
body {
   background-color: #f5f5f5;
}

/* Banner at the top of every page */
header {
   /* Flex settings */
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;

   /*
      The banner should be above all
      content since the links to the
      other pages are top priority
   */
   z-index: 100;
   width: 100%;
}

/* Home page logo */
.logo {
   width: 50vw;
   height: auto;
   margin: 2vw 0 2vw 0;
}

@media only screen and (max-width: 767px) {
   .logo {
      width: 70vw;
   }
}

/* Container for anchor tags belonging specifically to the header */
.hlinks {
   /* Flex settings */
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   column-gap: 5vw;

   padding: 0.5vw;
}

/* Anchor tags belonging specifically to the header */
.hlink,
.hlink:link,
.hlink:hover,
.hlink:active,
.hlink:visited {
   color: #bc987e;
   font-size: 3vw;
}

@media only screen and (max-width: 767px) {
   .hlink,
   .hlink:link,
   .hlink:hover,
   .hlink:active,
   .hlink:visited {
      font-size: 5vw;
   }
}

/* Create a bottom border to highlight that the link is active */
.hlink.active {
   border-bottom-style: solid;
   border-bottom-color: #bc987e;
   border-bottom-width: 0.25vw;
}

/* Set the dimensions of the Bootstrap carousel container */
.carousel {
   margin-top: 5vw;
   width: 80vw;
   height: 45vw;
}

@media only screen and (max-width: 767px) {
   .carousel {
      width: 100vw;
      height: 56.25vw;
   }
}

/* Center images in the carousel. Default behavior is to stick to the left edge. */
.carousel-item {
   text-align: center;
}

/* Resize images while maintaining 16:9 aspect ratio */
.carousel-img {
   display: inline-block;
   min-height: 45vw;
   max-height: 45vw;
   width: auto;
   height: auto;
}

@media only screen and (max-width: 767px) {
   .carousel-img {
      min-height: 56.25vw;
      max-height: 56.25vw;
   }
}

/* The default state of the control buttons */
.slide-btn {
   /* Flex settings */
   display: flex;
   align-items: center;
   justify-content: center;

   position: absolute; /* Required to have buttons go on top of images */
   border: none;
   width: 10vw;
   height: 45vw;
   top: 0;
   bottom: 0;
   padding: 0;
   opacity: 0;
   background: none;
   background-color: gainsboro;
   z-index: 50; /* Position above images but below header */
   cursor: pointer; /* Changes cursor to indicate that the element is clickable */

   transition: width 1s ease, opacity 1s ease;
}

/* We don't need slide buttons on mobile */
@media (pointer: none), (pointer: coarse) {
   .slide-btn {
      display: none; 
   }
}

/* Added by jQuery to apply a fade in animation */
.slide-btn-transition {
   width: 6vw;
   opacity: 0.6;

   transition: width 1s ease, opacity 1s ease;
}

.slide-btn-transition:hover {
   opacity: 0.8; 
   transition: opacity 0.5s linear;
}

.slide-btn-prev {
   left: 0;
}

.slide-btn-next {
   right: 0; 
}

/* The fontawesome chevron icons for carousel buttons */
.chevron {
   font-size: 2.5vw;
   color: darkgray;
   display: block;
}

/* Main page content */
main {
   /* Flex settings */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* Article is primarily used for large text entries on the home page */
article {
   /* Flex settings */
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between; /* Push sections to outer borders */

   width: 80%;
   margin: 5vw 0 5vw 0;
}

/* Change to one column on mobile */
@media only screen and (max-width: 767px) {
   article {
      /* Flex settings */
      display: flex;
      flex-flow: column nowrap;

      width: 80%;
      margin: 5vw 0 5vw 0;
   }
}

/* Article is split into 2 columns, each occupying 1/5 of the total space */
.col-left {
   width: 45%;
}

/* For mobile, display left columns first (by making width 100%), then right columns after */
@media only screen and (max-width: 767px) {
   .col-left {
      width: 100%;
   }
}

.col-right {
   width: 45%;
}

/* Right columns will go after left columns */
@media only screen and (max-width: 767px) {
   .col-right {
      width: 100%;
   }
}

/* Section header */
.section-header {
   padding: 0.5vw 0.5vw 0.5vw 2vw;
   background-color: linen;
   font-size: 1.5vw;
}

@media only screen and (max-width: 767px) {
   .section-header {
      padding: 0.5vw 0.5vw 0.5vw 2vw;
      background-color: linen;
      font-size: 5vw;
   }
}

/* Section = article entry (header + paragraph) */
.section {
   font-family: baskerville, serif;
   font-size: 1.2vw;
}

@media only screen and (max-width: 767px) {
   .section {
      font-size: 4vw;
   }
}

/* Map styling */
.map-responsive {
   overflow: hidden;
   padding-bottom: 56.25%; /* Maintain 4:3 aspect ratio */
   position: relative;
}

.map-responsive iframe {
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   position: absolute;
}

/* The Gift Registry page */
.registry {
   padding-top: 5vw;
}

/* The Q&A link and "My Gifts" button */
.registry-header {
   margin-bottom: 3vw;
}

/* Layout for gift containers */
.gifts-list {
   /* Flex settings */
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   align-items: center;
   align-content: flex-start;

   width: 90vw;
}

/* Container for gift info */
.gift-container {
   /* Flex settings */
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-start;

   background-color: white;
   font-size: 1vw;
   padding: 0.5vw;
   margin: 1vw;
   width: 90vw;
   height: 105vw;
   max-width: 370px;
   max-height: 500px;
   border-radius: 10px;
   filter: drop-shadow(-0.2vw 0.5vw 0.2vw #C0C0C0); /* (x, y, diffusion, rgb) */
}

@media (max-width: 767px) {
   .gift-container {
      padding: 1.5vw;
      font-size: 5vw;
   }
}

/* Thumbnail container (encapsulates thumbnail + enlarge text) */
.tn-container {
   position: relative;
   text-align: center;
}

/* Thumbnail properties for gift registry table */
img.thumbnail {
   width: 85vw;
   height: 85vw;
   max-width: 350px;
   max-height: 350px;
}

/* Used by JQuery to toggle thumbnail opacity */
.img-opaque {
   opacity: 0.4;
   /* Give it a bit of a fade to match button rotation animation */
   transition: opacity 0.09s linear;
}

/* Used for the text element that appears over thumbnails on hover */
.enlarge-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 3em;
   max-height: 50px;
   padding: 5px;
   color: gray;
   border-style: solid;
   border-color: gray;
   border-width: 2px;
   border-radius: 5px;
}

.enlarge-text:hover {
   color: black;
   border-color: black;
   cursor: pointer;
}

/* Mobile users can just pinch */
@media (pointer: none), (pointer: coarse) {
   .enlarge-text,
   .enlarge-text:hover {
      display: none;
   }
}

/* Used by jQuery to make "enlarge image" text hidden by default */
.enlarge-text-hidden {
   display: none;
}

/* div containing website link, description, and price */
.gift-descr {
   /* Flex settings */
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: baseline;
   align-content: center;

   position: absolute;
   bottom: 1vw;
   left: 1vw;
   width: 60vw;
   height: auto;
}

/* The background circle for checkboxes */
.cbox {
   /* Flex settings */
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   align-content: center;

   border-radius: 50%; /* Creates a circle */
   text-align: center;
   font-size: 40px;
   width: 60px;
   height: 60px;
   position: absolute;
   bottom: 1vw;
   right: 1vw;
   z-index: 50; /* Position above the gift-container but below plus icon */
   cursor: pointer; /* Changes cursor to indicate that the element is clickable */

   /* Off-screen gradient */
   background-image: linear-gradient(135deg, #00ab66, #ffffff, #00ae6f);
   background-size: 300% 300%;
   background-position: right bottom;
}

/* Gradient transition for sheen effect on hover */
.cbox:hover {
   transition: background-position 0.3s;
   background-position: left top;
}

/* Shared icon attributes */
.cbox > i {
   color: white;
   z-index: 100;
   transform: rotate(45deg); /* The font awesome icon is an x, but we want it to look like a + */
}

/* Animation for rotating from '+' to 'x' */
@keyframes rotate-cbox-frwrd {
   0% {
      transform: rotate(0deg);
      background-image: linear-gradient(135deg, #00ab66, #ffffff, #00ae6f);
   }
   100% {
      transform: rotate(-135deg);
      background-image: linear-gradient(0, #da2c43, #da2c43);
   }
}

/* Animation for rotating from 'x' to '+' */
@keyframes rotate-cbox-bkwrd {
   0% {
      transform: rotate(-135deg);
      background-image: linear-gradient(0deg, #da2c43, #da2c43);
   }
   100% {
      transform: rotate(0deg);
      background-image: linear-gradient(135deg, #00ab66, #ffffff, #00ae6f);
   }
}

/* Added by jQuery to animate the button */
.cbox-icon-plus {
   animation: rotate-cbox-bkwrd 0.09s ease-in forwards;
}

/* Added by jQuery to animate the button */
.cbox-icon-x {
   animation: rotate-cbox-frwrd 0.09s ease-in forwards;
}

.registry-nav-ctrls {
   /* Flex settings */
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;

   position: relative;
   left: 50%;
   height: 14vw;
}

/* RSVP page */
.rsvp {
   padding-top: 5vw;
}

.rsvp-form {
   /* Flex settings */
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
}

/* The table used in RSVP form */
.rsvp-table {
   font-size: 2vw;
}

@media only screen and (max-width: 767px) {
   .rsvp-table {
      font-size: 4vw;
      width: 100%;
   }
}

/* Text field header */
.tf-header {
   font-size: 1.5vw;
}

/* Extend width of text input fields */
.rsvp-table input[type="text"],
.rsvp-table input[type="email"] {
   width: 50vw;
}

/* Extend width of text area fields */
.rsvp-table textarea {
   width: 50vw;
   height: 25vw;
}

/* Input field placeholder text size */
.rsvp-table input::placeholder,
.rsvp-table textarea::placeholder {
   font-size: 1.2vw; 
}

/* Number of attendees text field */
.attendees-input {
   box-sizing: border-box;
   max-height: inherit; /* Prevent resizing so that buttons are forced inside bounds */ 
}

/* Custom increment/decrement buttons */
.inc-dec {
   /* Flex settings */
   display: flex;
   flex-flow: row wrap;

   position: absolute;
   transform: translate(44vw, -3vw);
   min-height: 20px;
}

#inc,
#dec {
   /* Flex settings */
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-content: center;

   color: darkgray;
   background-color: none;
   background: none;
   border-style: none;
   border-radius: 5px;
   width: 2.5vw;
   height: 2.5vw;
}

#inc:hover,
#dec:hover {
   background-color: #e2e3e4;
}

/* Submission success page */
.rsvp-success {
   width: 50%;
   padding-top: 14vw;
   font-size: 1.5vw;
}

/*
   Fontawesome icons used in the footer (fb, Insta.)
   and override for email anchor text
*/
.fontawesome,
.email {
   color: #90686d !important; /* Override default anchor text color */
}

.fontawesome {
   margin: 0 0.5vw 0 0.5vw;
}

.fontawesome:hover,
.email:hover {
   color: linen !important; /* Needs to be same priority as non-hover in order to work */
}

/* The page footer */
.myfooter {
   /* Flex settings */
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;

   background-color: #c19c98;
   padding-top: 0.75vw;
}

/* Scale h1 within footer */
.myfooter > h1 {
   font-size: 3vw;
}

/* We need this because setting padding-bottom for myfooter extends it past the bar */
.myfooter > table {
   font-size: 2vw;
   margin-bottom: 1vw; 
}

/* Bar spanning the very bottom of the footer */
.footer-bar {
   /* Flex settings */
   display: flex;
   align-content: center;

   position: relative;
   width: 100%;
   color: linen;
   background-color: #90686d;
   font-size: 1vw;
   padding: 0.25vw 0 0 4vw; 
}

/* Override default color of bootstrap btn and btn-primary (accept) */
.confirm-btn {
   color: white;
   background: #aadae0;
   font-size: 2vw;
   padding: 0.1vw 1vw 0.1vw 1vw;
   border-radius: 150px;
   border-style: none;
}

.confirm-btn:hover {
   background: #9acad0;
}

/* Override default color of bootstrap btn and btn-primary (decline) */
.decline-btn {
   color: white;
   background: #f08080;
   font-size: 2vw;
   padding: 0.1vw 1vw 0.1vw 1vw;
   border-radius: 150px;
   border-style: none;
}

.decline-btn:hover {
   background: #9acad0;
}

/* Global settings for links (must override if you want something different for a specific link) */
a:link,
a:visited,
a:hover,
a:active {
   color: #75897a;
   text-decoration: none; /* Remove underlines on hover */
}
