html {
   margin: 0;
   padding: 0;
}

body {
   background-color: #f5f5f5;
}

header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   align-items: center;
   background-color: linen;
   height: 100px;
   width: 100%;
   position: fixed;
   z-index: 100;
}

.hlink {
   font-size: 32px;
   margin: 0 20px 0 20px;
   padding: 10px 10px 10px 10px;
}

.logo {
   display: flex;
   flex-grow: 3;
}

.rsvp {
   border-radius: 10px;
   background-color: #f4c2c2;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   width: 100%;
}

h3 {
   width: 100%;
   background-color: linen;
}

.section {
   display: flex;
   justify-content: flex-start;
   margin: 40px 0 40px 0;
   font-family: "Calisto MT", serif;
   font-style: italic;
}

footer {
   background-color: mistyrose;
   height: 300px;
   position: relative;
}

a:link {
   color: #bc987e;
   text-decoration: none;
}

a:visited {
   color: #bc987e;
   text-decoration: none;
}

a:hover {
   color: #bc987e;
   text-decoration: none;
}

a:active {
   color: #bc987e;
   text-decoration: none;
}
