/* TODO: Split this css file into one CSS file per page */

/* DOM root */
html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}

/* Universal background color */
body {
   background-color: #f5f5f5;
}

/* Banner at the top of every page */
header {
   /* Flex settings */
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;

   background-color: linen;
   height: 4vw;
   width: 100%;
   position: fixed;
   /*
      The banner should be above all
      content since the links to the
      other pages are top priority
   */
   z-index: 100;
}

/* Home page logo */
.logo {
   height: 4vw;
}

/* Header links (Gift Registry + RSVP) */
.hlink,
.hlink:link,
.hlink:hover,
.hlink:active,
.hlink:visited {
   color: #bc987e;
   font-size: 2vw;
   margin: 0 20px 0 20px;
   padding: 10px 10px 10px 10px;
}

/* Header is split into 2 columns. The logo column occupies 80%, the hlink column occupies 20% */
.hleft {
   width: 70%;
}

.hright {
   width: 30%;
}

/* A fixed width/height is required to prevent browser from resizing images */
.carousel {
   padding-top: 5vw;
   width: 60vw;
   height: 40vw;
}

/* Carousel control buttons */
.slide-btn {
   background-color: gainsboro;
   border-radius: 50%; /* Creates a circle */
   opacity: 0.5;
   width: 10vw;
   height: 10vw;
   max-width: 150px;
   max-height: 150px;
   z-index: 50; /* Position above images but below header */
   position: absolute; /* Required to have buttons go on top of images */
   /* Center buttons within the parent element */
   top: 50%;
   left: 50%;
   /* Move from center */
   transform: translate(-50%, -50%);
   cursor: pointer; /* Changes cursor to indicate that the element is clickable */
}

.slide-btn:hover {
   opacity: 0.75;
}

/* Left button positioning. Have to account for the width of the parent element. */
.slide-btn-1 {
   left: -10%; /* Negative because of parent width */
}

/* Right button positioning. Have to account for the width of the parent element. */
.slide-btn-2 {
   left: 110%; /* Greater than 100% because of parent width */
}

/* The fontawesome chevron icons for carousel buttons */
.chevron {
   color: darkgray;
   position: absolute; /* Required to have chevrons go on top of buttons */
   /* Center chevrons within parent element (the carousel buttons) */
   top: 50%;
   left: 50%;
   /* Move from center */
   transform: translate(-50%, -50%);
}

/* Main page content */
main {
   /* Flex settings */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* Article is primarily used for large text entries on the home page */
article {
   /* Flex settings */
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between; /* We don't need space-around since width is only 60% */
   align-items: baseline; /* This will align text entries based on the headings */

   width: 60%; /* Leave 20% for column padding (see below) */
   margin: 5% 0 5% 0; /* Top/bottom margins */
}

/* Change to one column on mobile */
@media only screen and (max-width: 400px) {
   article {
      /* Flex settings */
      display: flex;
      flex-flow: column nowrap;

      width: 60%;
      margin: 5% 0 5% 0; /* Top/bottom margins */
   }
}

/* Article is split into 2 columns, each occupying 1/5 of the total space */
.col-left {
   width: 50%; /* 50% of the 60% in article = 30% */
   padding-right: 10%;
}

/* For mobile, display left columns first (by making width 100%), then right columns after */
@media only screen and (max-width: 400px) {
   .col-left {
      width: 100%;
   }
}

.col-right {
   width: 50%; /* 50% of the 60% in article = 30% */
   padding-left: 10%;
}

/* Right columns will go after left columns */
@media only screen and (max-width: 400px) {
   .col-right {
      width: 100%;
   }
}

/* Section header */
.section-header {
   padding: 3px 3px 3px 30px;
   background-color: linen;
   font-size: 1.5vw;
}

/* Section = article entry (header + paragraph) */
.section {
   font-family: "Calisto MT", serif;
   font-style: italic;
   font-size: 1.2vw;
}

/* Map styling */
.map-responsive {
   overflow: hidden;
   padding-bottom: 56.25%;
   position: relative;
   height: 0;
}

.map-responsive iframe {
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   position: absolute;
}

/* The Gift Registry page */
.registry {
   padding-top: 7vw;
   width: 50%;
}

/* The list of available gifts in the registry */
.gift-table {
   /* Flex settings */
   display: flex;
   align-items: center;

   font-size: 2vw;
   width: 100%;
}

/* Override the ugly look of radio buttons */
input[type="radio"] {
	box-sizing: border-box;
	appearance: none;
	background: white;
	outline: 2px solid #000333;
	border: 3px solid white;
	width: 16px;
	height: 16px;
}

input[type="radio"]:checked {
   background: #000333;
}

/* RSVP page */
.rsvp {
   padding-top: 7vw;
   width: 50%;
}

.rsvp-table {
   /* Flex setting */
   display: flex;
   align-items: center;

   font-size: 2vw;
   width: 100%;
}

/* Custom increment/decrement buttons */
.inc-dec {
   color: darkgray;
   background-color: white;
   border-style: none;
   border-radius: 3px;
   width: 25px;
   height: 25px;
}

.inc-dec:hover {
   color: #353839;
   background-color: #f2f3f4;
}

/*
   Fontawesome icons used in the footer (fb, Insta.)
   and override for email anchor text
*/
.fontawesome,
.email {
   color: #90686d;
}

.fontawesome {
   margin: 0 2px 0 2px;
}

.fontawesome:hover,
.email:hover {
   color: linen;
}

/* The page footer */
.myfooter {
   /* Flex settings */
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;

   background-color: #c19c98;
   width: 100%;
   height: 10;
   padding-top: 30px;
   font-size: 1.3vw;
}

/* Scale h1 within footer */
.myfooter > h1 {
   font-size: 2vw;
}

/* Bar spanning the very bottom of the footer */
.footer-bar {
   /* Flex settings */
   display: flex;
   justify-content: flex-start;
   align-items: center;

   position: relative;
   background-color: #90686d;
   width: 100%;
   height: 1.5vw;
   padding: 20px 0 20px 0;
}

/* All elements within the footer bar */
.footer-bar > * {
   color: #bfc1c2;
   margin-left: 5%;
   font-size: 1vw;
}

/* Global settings for links (must override if you want something different for a specific link) */
a:link,
a:visited,
a:hover,
a:active {
   text-decoration: none; /* Remove underlines on hover */
}
