@Model Wedding_RSVP.Models.ViewModels.UserGiftsViewModel
@{
   ViewData["title"] = "Registered Gifts";
}

<h1>Registered Gifts</h1>

@if (!Model.Gifts.IsNullOrEmpty())
{
   <ul>
      @foreach (var gift in Model.Gifts)
      {
         <li>@gift</li>  
      }
   </ul>
}
